<section class="section1">
  <div class="sec2">
    <h1 class="display-1">Fresh Food<br> At Your Door</h1>
    <button class="btn btn-lg btn-block btn-warning" style="margin-right: 25px;"
      type="submit" (click)="navToLoginURL()"><i class="fab fa-google me-2"></i> Login</button>
    <button class="btn btn-lg btn-block btn-warning"  type="submit"
      (click)="navToSignUpURL()"><i class="fab fa-google me-2"></i> Sign Up</button>

  </div>
</section>
  <!-- <div class="HomeText">
    <h1 >Fresh Food</h1><br>
    <h1 >At Your Door</h1>
    </div> -->


  <section class="sec100">
    <div class="div2">

      <img class="imagesec2" src="section2.jpg">
    </div>
    <div class="div3">

      <h1 class="h1" style="font-size: 50px;">About Us</h1><br>
      <h5 class="display-6">This application serves fresh food <br> to the customers to their homes,</h5><br>
      <h5 class="display-6"> at no time and with good quality to make their life much more easier</h5>
    </div>
  </section>

