
<div class="ALL">
<div class="BOX">
  <div class="row">
    <div class="col-md-5 col-sm-12">
      <img src={{data.image}} alt="imagee">
    </div>
    <div class="col-md-7 col-sm-12">
      <div class="info">
        <ul class="list-unstyles">
          <h2 class="title headerText display-2">{{data.title}}</h2>
          <br>
          <h3 class="description headerText display-3">{{data.description}}</h3>
          <br>
          <h3 class="price headerText display-3">{{data.price}} L.E</h3>
        </ul>
      </div>
    </div>
  </div>
</div>

</div>
